
@{

    ViewData["Title"] = "Подтверждение почты";
    Layout = null;
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="~/css/auth.css">
</head>
<body>
    <div class="container">

        <div class="title">Подтверждение почты</div>
        <div class="content">
            <form method="post">
                <div class="text-center">
                    <h3 class="h3">Почта успешно подтверждена</h3>
                </div>
                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        
                        <a class="button" asp-action="HomePage">В личный кабинет</a>
                    </div>
                </div>
            </form>
            @if (ViewBag.Message != null)
            {
                <script type="text/javascript" charset="utf-8">
                    window.onload = function () {
                        alert("@ViewBag.Message");
                    };
                </script>
            }

        </div>
    </div>
</body>


